<template>
    <div>
        <div class="placeholder"></div>
        <nav>
        <div class="nowosci-label">
            <NuxtLink class="nowosci-label__btn" to="/nowosci">Zobacz nasze nowości!</NuxtLink>
        </div>
        <div class="nav">
            <NuxtLink class="nav-logo-container" to="/">
                <img class="nav-logo" src="../../assets/shop_logo.svg">
            </NuxtLink>
            <NuxtLink v-if="windowHeight > 640 || menu == true" class="nav-item" to="/nowosci">Nowości</NuxtLink>
            <NuxtLink v-if="windowHeight > 640 || menu == true" class="nav-item" to="/meskie">Męskie</NuxtLink>
            <NuxtLink v-if="windowHeight > 640 || menu == true" class="nav-item" to="/damskie">Damskie</NuxtLink>
            <NuxtLink v-if="windowHeight > 640 || menu == true" class="nav-item" to="/kontakt">Kontakt</NuxtLink>
            <button v-if="!dark || !dark && menu == true" class="darkModeBtn" @click='darkMode()'>
                <img src="../../assets/darkModeBtn.png"/>
            </button>
            <button v-if="dark || dark && menu == true" class="darkModeBtn" @click='lightMode()'>
                <img src="../../assets/sun.svg"/>
            </button>
            <button class="menu_img" v-if="windowHeight <= 640 && menu == false" @click='openMenu()'>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2048px-Hamburger_icon.svg.png">
            </button>
            <button class="menu_img" v-if="windowHeight <= 640 && menu == true" @click='closeMenu()'>
                <img src="https://cdn.onlinewebfonts.com/svg/img_143166.png">
            </button>
        </div>
    </nav>
    </div>
</template>

<script>
function setCookie(cvalue) {
    const d = new Date();
    d.setTime(d.getTime() + (30*24*60*60*1000));
    let expires = "expires="+ d.toUTCString();
    document.cookie = "darkMode =" + cvalue + ";" + expires + ";path=/";
}

function checkCookie() {
  let name = "darkMode=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
    }
  }
  return "false";
}

export default {
  name: 'TopNav',
    data() {
      return {
          dark: false,
          windowHeight: 1000,
          menu: false
      }
    },
    mounted() {
        if (checkCookie() == 'true') {
            this.darkMode();
        }
        else {
            this.lightMode();
        }
        this.$nextTick(() => {
            window.addEventListener('resize', this.onResize);
        })
    },
    beforeDestroy() { 
        window.removeEventListener('resize', this.onResize); 
    },
    methods: {
        darkMode() {
            this.dark = true;
            setCookie('true');
            document.querySelector(':root').style.setProperty('--body-color', 'black');
            document.querySelector(':root').style.setProperty('--container-div-border-color', 'white');
            document.querySelector(':root').style.setProperty('--main-color', 'white');
            document.querySelector(':root').style.setProperty('--img-filter', 'none');
            document.querySelector(':root').style.setProperty('--neg-img-filter', 'invert(1)');
        },
        lightMode() {
            this.dark = false;
            setCookie('false');
            document.querySelector(':root').style.setProperty('--body-color', 'white');
            document.querySelector(':root').style.setProperty('--container-div-border-color', '#555');
            document.querySelector(':root').style.setProperty('--main-color', 'black');
            document.querySelector(':root').style.setProperty('--img-filter', 'invert(1)');
            document.querySelector(':root').style.setProperty('--neg-img-filter', 'none');
        },
        onResize() {
            this.windowHeight = window.innerWidth;
        },
        openMenu() {
            this.menu = true
        },
        closeMenu() {
            this.menu = false
        }
    }
}
</script>
<style scoped>
nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}
.darkModeBtn {
    margin-left: auto;
    padding: 0;
    height: 32px;
    background: none;
    border: none;
    filter: invert(1);
}

.darkModeBtn img {
    height: 32px;
}
.nowosci-label {
    background-color: yellow;
    text-align: center;
}

.nowosci-label .nuxt-link-exact-active {
    display: none;
}

.nowosci-label__btn {
    display: inline-block;
    padding: 0.3rem;
    width: 100%;
    text-decoration: none;
    color: black;
}

.nowosci-label__btn:hover {
    font-weight: bold;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 30px;
    background-color: black;
    padding: 15px;
}

.nav-logo-container {
    margin-inline: 0.3 0.5rem;
    height: 36px;
}
.nav-logo {
    height: 100%;
}

.nav-item {
    margin-left: .5rem;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.nav .nuxt-link-exact-active {
    background-color: white;
    color: black;
    font-weight: bold;
}

.nav .nav-logo-container.nuxt-link-exact-active {
    background-color: inherit;
}

.nav-item:hover {
    background-color: white;
    color: black;
}
.placeholder {
    height: 100px;
}
</style>