<template>
    <div class="chat">
        <div class="chat__btn">
            <button id="chat_btn" @click="openChat">
                <img src="../../assets/chat-icon.png" alt="Chat">
            </button>
            <button v-if="$store.state.chat" @click="closeChat">zamknij</button>
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Chat',
  data() {
    return {
        stateChat: false
    }
  },
  methods: {
    openChat() {
        this.$store.commit('openChat');
        //this.$emit('openChat', false);
    },

    closeChat() {
        this.$store.commit('closeChat');
    }
  }
}
</script>
<style scoped>
.chat {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
}

button {
    cursor: pointer;
    background: slateblue;
    color: white;
    border: none;
    padding: 1.3rem;
    font-size: 1rem;
    line-height: 0;
    border-radius: 10rem;
}

button img {
    filter: invert(1);
    margin: 0;
    padding: 0;
    width: 3rem;
}
</style>