@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@500;600;700&display=swap');

:root {
    --body-color: white;
    --main-color: black;
    --img-filter: invert(1);
    --neg-img-filter: none;
    --container-div-border-color: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Schibsted Grotesk', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--body-color);
    transition: background-color 0.5s ease-in-out;
}

h1:first-of-type {
    margin-block: 2rem;
    color: var(--main-color);
    text-align: center;
}

h2 {
    margin-left: 1.5rem;
    margin-block: 1rem;
    color: var(--main-color);
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
    padding: 1.8rem;
    min-height: calc(100vh - 188px);
    background: url("../hero-section_img.jpg") no-repeat;
    background-size: cover;

    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    height: calc(100vh - 170px);
    padding: clamp(1rem, 10%, 10rem);
    margin: 2rem;
    */
}

.hero-section__container {
    width: clamp(12rem, 20%, 17rem);
    padding: 1.5rem;
    background: yellow;
}

.hero-section__img {
    width: 100%;
    aspect-ratio: 1.3 / 1;
    object-fit: cover;
}

.hero-section__name {
    margin: 0;
    font-size: 2rem;
    color: black;
}

.hero-section__price {
    margin: 0;
    font-size: 1.5rem;
    color: #5d5d5d;
}

.container {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;
    margin: 0 1rem 2rem 1rem;
    padding-bottom: 1rem;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: #ddd; 
}

.container::-webkit-scrollbar-thumb {
    background: #555; 
}

.container::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

.container__div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 3px solid var(--container-div-border-color);
    transition: 0.3s ease-in-out;
    color: var(--main-color);
}

.container__div img {
    max-width: 70%;
    max-height: 70%;
    filter: var(--neg-img-filter);
}

.container__div:hover img {
    filter: var(--img-filter);
}

.container__div:hover {
    background: var(--main-color);
    color: var(--body-color);
}

.container__div h3 {
    position: absolute;
    bottom: 1rem;
}

.contact-container {
    text-align: center;
}

.map {
    margin-top: 3rem;
    display: inline-block;
    vertical-align: middle;
}

.contact-info {
    margin-top: 3rem;
    margin-left: 1rem;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    font-size: 2rem;
}

.new-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 177px);
    background: url('../t-shirts.jpg') no-repeat;
    background-size: cover;
}

.new-container__label {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    padding-inline: 4rem 4rem;
    background: var(--body-color);
    text-align: left;
    font-size: 2rem;
    transition: background 0.5s ease-in-out;
}

.seeMoreBtn {
    width: max-content;
    padding: 1rem 2rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    background: var(--main-color);
    color: var(--body-color);
    transition: 0.5s ease-in-out;
    border: none;
}

.menu_img {
    border: 0;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    background-color: black;
}

.menu_img img {
    width: 2rem;
    margin: 0;
    padding: 0;
    filter: invert(1);
}

@media only screen and (max-width: 1024px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
    }
}
@media only screen and (max-width: 640px) {
    .nav {
        flex-direction: column;
    }
    .menu_img {
        margin: 0;
        margin-right: 0.5rem;
    }
    .nav-logo-container {
        margin-right: 0;
    }
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 30px;
    }
    .hero-section__container {
        width: 80%;
        max-width: 20rem;
    }

    .hero-section {
        margin-top: 5rem;
    }
}

@keyframes hero-anim {
    0% {
        margin-inline: 10rem;
        margin-top: 40vh;
        background-position: 50% 30%;
    }
    45% {
        margin-inline: 2rem;
        margin-top: 2rem;
    }
    100% {
        margin-inline: 2rem;
        margin-top: 2rem;
        background-position: 50% 45%;
    }
}

@keyframes hero-label-anim {
    0% {
        opacity: 0;
        transform: translateY(30%) translateX(-10%);
    }
    40% {
        opacity: 0;
        transform: translateY(30%) translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}