<template>
    <footer>
        <div>
          <span class="header">O firmie</span>
          <div class="footer__divider"></div>
          <span>O nas</span>
          <span>Nasz zespół</span>
          <span>Historia firmy</span>
          <span>Nasza misja</span>
          <span>Reszta informacji</span>
        </div>
        <div>
          <span class="header">Kontakt</span>
          <div class="footer__divider"></div>
          <span>Adres</span>
          <span>Email</span>
          <span>Dział sprzedaży</span>
          <span>Nasze oddziały</span>
        </div>
        <div>
          <span class="header">Informacje</span>
          <div class="footer__divider"></div>
          <span>Aktualności</span>
          <span>Informacje techniczne</span>
          <span>Kariera</span>
          <span>Współpraca</span>
        </div>
        <div>
          <span class="header">Zasady sprzedaży</span>
          <div class="footer__divider"></div>
          <span>Koszty dostawy</span>
          <span>Czas dostawy</span>
          <span>Regulamin</span>
        </div>
        <div>
          <span class="header">Reklamacje</span>
          <div class="footer__divider"></div>
          <span>Reklamacje</span>
          <span>Zwroty</span>
          <span>Regulamin zwrotu</span>
          <span>Adres zwrotu</span>
          <span>Dział reklamacji</span>
        </div>
    </footer>
</template>
<script>
export default {
  name: 'Footer',
}
</script>
<style scoped>
footer {
  padding: 40px;
  margin-top: 40px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: start;
  justify-content: start;
  align-items: start; 
  gap: 20px;
  border-top: 1px solid yellow;
}
footer div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start; 
  gap: 10px 0px;
}
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: yellow;
}
.header {
  font-weight: 800;
}

</style>