<template>
    <div>
      <TopNav/>
      <Chat />
      <h1>Ubrania damskie</h1>
      <h2>Odzież</h2>
      <div class="container">
        <div class="container__div">
          <img src="https://cdn.onlinewebfonts.com/svg/img_473384.png" alt="bielizna">
          <h3>Bielizna</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn2.iconfinder.com/data/icons/clothes-solid-1/64/Clothes_garments_sweater_ecommerce_sweater_sweatshirt_fashion_jacket_hoodie_man-512.png" alt="bluza">
          <h3>Bluzy</h3>
        </div>
        <div class="container__div">
          <img src="https://static.thenounproject.com/png/2172878-200.png" alt="kurtki">
          <h3>Kurtki</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-coat-3316137-2767126.png" alt="płaszcze">
          <h3>Płaszcze</h3>
        </div>
        <div class="container__div">
          <img src="https://www.svgrepo.com/download/4454/t-shirt.svg" alt="t-shirt">
          <h3>Topy i t-shirty</h3>
        </div>
        <div class="container__div">
          <img src="https://icon-library.com/images/dress-icon-png/dress-icon-png-1.jpg" alt="sukienki">
          <h3>Sukienki</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn2.iconfinder.com/data/icons/glyphie-1/40/pants_cloth_trousers_clothing-512.png" alt="spodnie">
          <h3>Spodnie</h3>
        </div>
      </div>
      <h2>Obuwie</h2>
      <div class="container">
        <div class="container__div">
          <img src="https://static.thenounproject.com/png/92568-200.png" alt="baleriny">
          <h3>Baleriny</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/24/24936.png" alt="botki">
          <h3>Botki</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/37/37872.png" alt="kozaki">
          <h3>Kozaki</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/24/24697.png" alt="szpilki">
          <h3>Szpilki</h3>
        </div>
      </div>
      <h2>Akcesoria</h2>
      <div class="container">
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/554/554068.png" alt="biżuteria">
          <h3>Biżuteria</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/864/864727.png" alt="kapelusze">
          <h3>Kapelusze</h3>
        </div>
        <div class="container__div">
          <img src="https://static.thenounproject.com/png/184784-200.png" alt="okulary">
          <h3>Okulary</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/1413/1413938.png" alt="paski">
          <h3>Paski</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/3462/3462008.png" alt="torebki">
          <h3>Torebki</h3>
        </div>
        <div class="container__div">
          <img src="https://www.freeiconspng.com/thumbs/watch-icon/clock-watch-icon--11.png" alt="zegarki">
          <h3>Zegarki</h3>
        </div>
      </div>
      <Footer />
    </div>
</template>

<script>
import Chat from '../components/chat/Chat.vue';
import TopNav from '../components/navi/TopNav.vue';

export default {
  name: 'WomanComponent',
  components: { TopNav }
}
</script>
<style scoped>

</style>