<template>
    <div>
      <TopNav />
      <Chat />
      <section class="hero-section">
        <div v-for="category in mainCategories" class="hero-section__container">
          <img class="hero-section__img" :src=category.image />
          <h2 class="hero-section__name">{{ category.name }}</h2>
          <h3 class="hero-section__price">{{ category.priceMin }} zł</h3>
        </div>
      </section>
      <Footer />
    </div>
</template>

<script>
import Chat from '../components/chat/Chat.vue';
import TopNav from '../components/navi/TopNav.vue';
import Modal from '../components/modals/Modal.vue';
import axios from 'axios';

export default {
  name: "IndexPage",
  components: { TopNav, Modal },
  data() {
    return {
        stateModal: false,
        mainCategories: []
    }
  },
  created() {
    this.asyncData();
  },
  methods: {
    showModal(state) {
      this.stateModal = state
    },
    async asyncData() {
      await axios.get('http://localhost:3000/mainCategories')
        .then((res) => {
          this.mainCategories = res.data;
        })
    }
  }
}
</script>
<style scoped>
button {
    cursor: pointer;
}
</style>