<template>
    <div class="contact-container">
        <TopNav/>
        <Chat />
        <h1>Kontakt</h1>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12544.370688280951!2d-74.00147585050794!3d40.749024657257706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2596f3f11ce9f%3A0x2aa56cd0910ae8fa!2sBlue%20Bottle%20Coffee!5e0!3m2!1spl!2spl!4v1682462373550!5m2!1spl!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h2 class="contact-info">441 8th Ave #68, New York NY<br>10001, Stany Zjednoczone<br>+1 510-653-3394</h2>
        <Footer />
    </div>
</template>

<script>
import Chat from '../components/chat/Chat.vue';
import TopNav from '~/components/navi/TopNav.vue';

export default {
    name: "ContactComponent",
    components: { TopNav }
}
</script>
<style scoped>
</style>