<template>
    <div>
      <TopNav/>
      <Chat />
      <h1>Ubrania męskie</h1>
      <h2>Odzież</h2>
      <div class="container">
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/542/542608.png" alt="bielizna">
          <h3>Bielizna</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn2.iconfinder.com/data/icons/clothes-solid-1/64/Clothes_garments_sweater_ecommerce_sweater_sweatshirt_fashion_jacket_hoodie_man-512.png" alt="bluza">
          <h3>Bluzy</h3>
        </div>
        <div class="container__div">
          <img src="https://fr.seaicons.com/wp-content/uploads/2015/11/Clothing-Shirt-icon.png" alt="koszule">
          <h3>Koszule</h3>
        </div>
        <div class="container__div">
          <img src="https://static.thenounproject.com/png/2172878-200.png" alt="kurtki">
          <h3>Kurtki</h3>
        </div>
        <div class="container__div">
          <img src="https://www.svgrepo.com/download/4454/t-shirt.svg" alt="t-shirt">
          <h3>T-shirty</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn2.iconfinder.com/data/icons/glyphie-1/40/pants_cloth_trousers_clothing-512.png" alt="spodnie">
          <h3>Spodnie</h3>
        </div>
      </div>
      <h2>Obuwie</h2>
      <div class="container">
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/3555/3555871.png" alt="buty_wysokie">
          <h3>Buty wysokie</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/5900/5900015.pngnpm " alt="kapcie">
          <h3>Kapcie</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/80/80807.png" alt="buty_sportowe">
          <h3>Buty sportowe</h3>
        </div>
        <div class="container__div">
          <img src="https://icon-library.com/images/shoe-icon-png/shoe-icon-png-4.jpg" alt="trampki">
          <h3>Trampki</h3>
        </div>
      </div>
      <h2>Akcesoria</h2>
      <div class="container">
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/864/864727.png" alt="kapelusze">
          <h3>Kapelusze</h3>
        </div>
        <div class="container__div">
          <img src="https://static.thenounproject.com/png/184784-200.png" alt="okulary">
          <h3>Okulary</h3>
        </div>
        <div class="container__div">
          <img src="https://cdn-icons-png.flaticon.com/512/1413/1413938.png" alt="paski">
          <h3>Paski</h3>
        </div>
        <div class="container__div">
          <img src="https://www.freeiconspng.com/thumbs/watch-icon/clock-watch-icon--11.png" alt="zegarki">
          <h3>Zegarki</h3>
        </div>
      </div>
      <Footer />
    </div>
</template>
  
  <script>
  import Chat from '../components/chat/Chat.vue';
  import TopNav from '../components/navi/TopNav.vue';

  export default {
    name: "MenComponent",
    components: { TopNav }
}
  </script>
  <style scoped>
  
  </style>