<template>
    <div>
      <TopNav />
      <Chat />
      <h1>Nowości</h1>
      <div class="new-container">
        <div class="new-container__label">
          <h2>Nowa kolekcja T-shirtów!</h2>
          <button class='seeMoreBtn' @click='showModal(true)'>Zobacz więcej</button>
        </div>
      </div>
      <Modal v-if="stateModal" @closeModal="showModal($event)" >
        <h3>Wkrótce T-shirty bedą</h3>
      </Modal>
      <Footer />
    </div>
</template>

<script>
import Chat from '../components/chat/Chat.vue';
import TopNav from '../components/navi/TopNav.vue';
import Modal from '../components/modals/Modal.vue';
export default {
    name: "NowosciPage",
    components: { TopNav, Modal },
    data() {
      return {
          stateModal:false
      }
    },
    methods: {
      showModal(state) {
        this.stateModal = state
      }
    }
}
</script>
<style scoped>
button {
    cursor: pointer;
}
</style>